/* 30 Important CSS Selectors to Utilize:
https://code.tutsplus.com/tutorials/the-30-css-selectors-you-must-memorize--net-16048
*/

/* Element */
/* li {

} */
/* Class */
/* .hello {

} */
/* ID */
/* #name {

} */
/* Star - selects every element on the page */
* {
    border: 1px solid lightgray;
}

/* Descendant Selector - it takes two or more selectors to chain together */
li a {
    color: red;
}


/* Adjacent Selector - it will let us select an element that comes after another element */
h4 + ul {
    border: 4px solid red
}

/* Attribute Selector - is a way to select elements based off any attribute */
a[href="http://www.google.com"] {
    background: blue;
}

/* nth of type */
li:nth-of-type(3){
    background: purple;
}