/* 30 CSS Selectors: https://code.tutsplus.com/tutorials/the-30-css-selectors-you-must-memorize--net-16048 */

/* Element */
li {

}

/* Class */
.hello {

}
/* id */
#name{

}

/* Stars */

/* Descendant Selector */

/* Adjacent Selector */

/* Attribute Selector */

/* nth of type */