/* 30 Important CSS Selectors to Utilize:
https://code.tutsplus.com/tutorials/the-30-css-selectors-you-must-memorize--net-16048
*/

/* Element */
li {

}
/* Class */
.hello {

}
/* ID */
#name {

}
/* Star */
/* Descendant Selector */
/* Adjacent Selector */
/* Attribute Selector */
/* nth of type */